h3, fieldset {
    text-align: center;
}

p, h1 {
    margin-left: 5vw;
    margin-right: 5vw;
}

h1 {
    font-size: 4vw;
}

p {
    font-size: 3vw;
}

[for="group1"] {
    font-size: 2vw;
    display: block;
    text-align: center;
}

input, fieldset label {
    cursor: pointer;
}

input:hover, fieldset label:hover {
    color: blue;
}

a {
    position: absolute;
}